*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* // site-theme-color-blue : 5E72E4
// site-secondary-color-blue : 11CDEF
// site-green-color : 2DCE89
// site-red-color : F5365C
// site-orange-color: FB6340 */
:root {
  --site-theme-color: #5e72e4;
  --site-secondary-blue: #11cdef;
  --site-green-color: #2dce89;
  --site-red-color: #f5365c;
  --site-orange-color: #fb6340;
  --site-grey-color: #f4f5f7;
}

body {
  box-sizing: border-box;
  font-family: "Lato" sans-serif;
}

.navbar {
  max-height: 70px;
}

.hero-section {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 3px;
  position: relative;

  & .site-heading {
    color: #ffffff;
  }

  & .site-paragraph {
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 50px;
  }

  & .img-container {
    margin-left: 50px;
  }

  & .circle1 {
    border-radius: 50%;
    background-color: #b6b2e2;
    display: inline-block;
    height: 100px;
    width: 100px;
    position: absolute;
  }

  & .circle2 {
    border-radius: 50%;
    background-color: #b6b2e2;
    display: inline-block;
    height: 300px;
    width: 300px;
    position: absolute;
  }

  & .custom-shape-divider-bottom-1606468931 {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  & .custom-shape-divider-bottom-1606468931 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 292px;
  }

  & .custom-shape-divider-bottom-1606468931 .shape-fill {
    fill: #ffffff;
  }
}

.site-section-heading {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--site-theme-color);
  transition: all 0.3s;
  cursor: pointer;
  margin-bottom: 60px;
}

.site-section-heading:hover {
  transform: skewX(-15deg);
}

.services {
  padding: 60px 3px;
  position: relative;
  margin-top: -9px;
  width: 100%;
}

// styling for card
.card-custom {
  //card functionality

  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 400px;
  max-width: 350px;
  margin-bottom: 50px;
  border: none;

  &__side {
    height: 400px;
    transition: all 0.8s;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color: rgb(0, 0, 0), $alpha: 0.15);
    max-width: 350px;

    &--front {
      background-color: #ffffff;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          var(--site-theme-color),
          #9ba8f1
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          var(--site-orange-color),
          #fda28d
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          var(--site-green-color),
          #9be9c8
        );
      }

      &-4 {
        background-image: linear-gradient(
          to right bottom,
          var(--site-red-color),
          #fa93a8
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  //card styling
  &__picture {
    background-size: cover;
    height: 400px;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          var(--site-theme-color),
          #9ba8f1
        ),
        url(./images/tv.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          var(--site-orange-color),
          #fda28d
        ),
        url(./images/carousel-slide2.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          var(--site-green-color),
          #9be9c8
        ),
        url(./images/airtime.png);
    }

    &--4 {
      background-image: linear-gradient(
          to right bottom,
          var(--site-red-color),
          #fa93a8
        ),
        url(./images/cinema.jpg);
    }
  }

  &__heading {
    font-size: 20px;
    text-transform: uppercase;
    text-align: right;
    font-weight: 300;
    color: #fff;
    position: absolute;
    top: 230px;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 7px 10px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        var(--site-theme-color),
        #9ba8f1
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        var(--site-orange-color),
        #fda28d
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        var(--site-green-color),
        #9be9c8
      );
    }

    &--4 {
      background-image: linear-gradient(
        to right bottom,
        var(--site-red-color),
        #fa93a8
      );
      margin-top: 15px;
    }
  }

  // back side styling
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
  }

  &__price-only {
    font-size: 14px;
    text-transform: uppercase;
  }

  &__platforms {
    padding: 10px;
    margin-bottom: 25px;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
    }

    li {
      text-align: center;
      font-size: 15px;
      padding: 6px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
    }
  }
}

.categorySection {
  padding: 70px 3px;
  position: relative;
  width: 100%;
  background-color: var(--site-grey-color);
  min-height: 600px;
  

  & .nav-pills .nav-link{
    cursor: pointer;
    background-color: var(--site-grey-color);
  }

  & .card {
    background-color: var(--site-grey-color); 
    border: none;

    & h6 {
        font-weight: 700;
    }

    & .card-image-container{
      max-width: 120px;
      margin-bottom: 19px;
    }
  }

  & .para-style {
   text-transform: capitalize;
  }

}

.about-section {
  width: 100%;
  position: relative;
  padding: 90px 5px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-size: cover;

    & .color-white{
      color: var(--site-grey-color);
    }

    & p {
        font-size: 18px;
        font-weight: 500;
    }
}

.contact-section {
  width: 100%;
  position: relative;
  padding: 70px 5px;

  & .contact-section-social p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color: var(--site-theme-color);
  }

  & .contact-section-social {
    & .social-icons-section a {
      font-size: 50px;
      margin: 15px;
    }

    & .social-icon-facebook {
      color: #4267B2;
    }

    & .social-icon-instagram {
      color: #cd486b;
    }

    & .silent {
      font-size: 13px;
      font-weight: 300;
      color: #525F7F;
      text-transform: lowercase;
      letter-spacing: .8px;
    }

    & .no-display {
      display: none;
    }
  }

  & .para-style{
    font-size: 16px;
  }

  & .contact-us-methods {
    margin-top: 38px;
  }

  & .contact-section-form p {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 17px;
    margin-bottom: 15px;
    color: var(--site-theme-color)
  }

  & .contact-section-form .card {
    padding: 2rem 0.2rem;
    box-shadow: none !important;
    transition: all 0.8s;
    max-width: 25rem;
  }
  
  & .contact-section-form .card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
  }
  
  & .contact-section-form button {
    margin-top: 2rem;
  }
  
}

.footer-section {
  padding: 40px 10px;
  background-color: var(--site-theme-color);

  & .footer-logo {
    color: var(--site-grey-color);
    font-weight: 700;
    font-size: 20px;
  }

  & .footer-para {
    color: var(--site-grey-color);
    margin-top: 20px;
    font-size: 14.5px;
  }

  & .footer-icons a {
    color: var(--site-grey-color);
    font-size: 40px;
    margin: 10px;
  }

  & .footer-heading {
    color: var(--site-grey-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
  }

  & .footer-icons .no-display {
    display: none;
  }

  & .footer-links {
    color: var(--site-grey-color);
    display: block;
    margin: 15px 0 0 0;
    font-size: 15px;
  }

  & .secondary-links {
    margin-top: 45px;
  }

  & .site-copyright {

    & .copyright-info{
      font-size: 13px;
      color: var(--site-grey-color);
      margin-bottom: -15px;
    }
  }
}

// styling for other pages starts here 
// styling for login and register page

.register .card .small-text{
  font-size: 13px;
}

.login .card .small-text {
  font-size: 13px;
}

.section-background {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 120%);
  background-size: cover;
  background-repeat: no-repeat;
}

.full-width {
  min-height: 100vh;
}

@media only screen and (max-width: 600px) {
  .site-heading {
    font-size: 30px !important;
  }

  .site-section-heading {
    font-size: 20px;
  }

  .hero-section .circle2 {
    display: none;
  }
}
