.td-description-container {
  width: 320px;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
}

.package-plan-item-description {
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
