@media only screen and (max-width: 600px) {
  .site-heading {
    font-size: 30px !important;
  }

  .site-section-heading {
    font-size: 20px;
  }

  .hero-section .circle2 {
    display: none;
  }
}
