.categorySection {
  padding: 70px 3px;
  position: relative;
  width: 100%;
  min-height: 600px;

  .category-container {
    width: 90%;
  }

  & .nav-pills .nav-link {
    cursor: pointer;
    background-color: var(--site-grey-color);
    border-radius: 17px;
    color: #949191;
    box-shadow: none;
    transition: all 0.4s;
  }

  & .nav-pills .nav-link:hover {
    color: var(--site-white-color);
    background-color: var(--site-theme-color);
  }

  & .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: var(--site-white-color);
    background-color: var(--site-theme-color);
  }

  & .card {
    border: none;
  }

  & .category-item {
    border: none;
    display: flex;
    flex-direction: row;

    & .card-item-primary__img {
      width: 80px;
      border-bottom-right-radius: 3px;

      img {
        height: 100%;
        width: 80px;
      }
    }

    & .card-body {
      width: 100%;
    }

    & h6 {
      font-weight: 700;
      text-transform: uppercase;
    }

    & p {
      font-size: 12px;
    }

    & .card-image-container {
      max-width: 120px;
      height: 100px;
      margin-bottom: 14px;

      img {
        height: 100%;
      }
    }
  }

  & .para-style {
    text-transform: capitalize;
  }
}
